.categoriesTitle {
  font: 700 32px "Roboto", sans-serif;
  line-height: 36.8px;
  color: #fff;
  margin-bottom: 32px;
}
.categoriesList {
  padding-right: 120px;
}
.categoriesList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoriesList {
  justify-content: space-between;
}

.categoriesList li a {
  cursor: pointer;
  text-align: center;
  padding-bottom: 10px;
}
.categoriesList li a p {
  font: 400 16px "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  line-height: 18.4px;
  margin-top: 18px;
  margin-bottom: 0;
}

.categoriesList li p:hover {
  color: #fff;
}

.categoriesList a.active {
  border-bottom: 2px solid #ffffff;
}

.categoriesList li a.active p {
  color: white;
}

@media only screen and (max-width: 1199px) {
  .categoriesList {
    padding-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .categoriesList {
    justify-content: initial;
  }
  .categoriesList li {
    margin: 10px 20px 10px 0;
  }
}
