.communityContainer {
  max-width: 1366px;
}
.communityContext {
  margin-bottom: 100px;
}
.communityTitle {
  font: 700 32px "Roboto", sans-serif;
  line-height: 36.8px;
}

.columnContextCommunity {
  border-radius: 16px;
  padding: 16px;
  gap: 24px;
  box-shadow: 0px 4px 16px 0px #9e9e9e40;
}

.halfColumnCommunity {
  padding: 0 12px 0 0;
}

.desc1Community {
  font: 400 24px "Lato", sans-serif;
  line-height: 30.65px;
  color: #000000;
}
.desc2Community,
.desc3Community {
  font: 400 16px "Lato", sans-serif;
  line-height: 20.43px;
  color: rgba(0, 0, 0, 0.5);
}
