.homeComponent {
  background-image: url(../../public/images/mountainBg.svg);
  background-repeat: no-repeat;
  max-width: 1366px;
  margin: auto;
}

.mainContainer {
  padding-left: 120px;
}
.footerContainer {
  max-width: 1366px;
}

@media only screen and (max-width: 1199px) {
  .mainContainer {
    padding-left: 47px;
    padding-right: 47px;
  }
  .componentHome {
    margin-top: 60px !important;
  }
}
