.mountainComponent {
  background-image: url(../../public/images/mountain2BG.svg);
  background-repeat: no-repeat;
  max-width: 1366px;
  margin: auto;
}

.mountainMainContainer {
  padding-left: 120px;
}
.mountainFooterContainer {
  max-width: 1366px;
}
@media only screen and (max-width: 1199px) {
  .componentMountain {
    margin-bottom: 40px !important;
  }
  .mountainMainContainer {
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media only screen and (max-width: 767px) {
  .mountainMainContainer {
    padding-left: 27px;
    padding-right: 27px;
  }
  .componentMountain {
    margin-top: 24px !important;
  }
}
