.navContainer a {
  color: #fff;
}
.navBarContainer {
  padding: 24px 47px;
}
.brandContext a {
  font: 700 32px "Roboto", sans-serif;
}
.brandContext a:hover {
  color: rgba(255, 255, 255, 0.795);
  transition: color 1s;
}
/* .homeLink {
  border-bottom: 1px solid white;
} */
.active {
  border-bottom: 1px solid white;
}
.navList li:not(:last-child) {
  margin-right: 8px;
}
.navList li a {
  padding: 8px;
  font: 400 16px "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
.navList li a:hover {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 767px) {
  .navBarMenu {
    display: none !important;
  }
  .mobileNav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  .navBarContainer {
    padding: 24px 27px;
  }
}
