.searchBarContainer {
  margin-top: 40px;
  margin-right: 10%;
}
.searchBarContext {
  padding: 12px 16px;
  border-radius: 16px;
  background-color: #00000030;
}
.searchBarContext div img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.searchBarContext p,
.searchBarContext input,
.searchBarContext input::placeholder {
  color: #ffffff70;
  font: 400 16px "Roboto", sans-serif;
  line-height: 18.4px;
  margin-bottom: 0;
}
.searchInput {
  background-color: transparent;
  border: none;
}
.searchBarContext button {
  padding: 12px 45px;
  color: #fff;
  border-radius: 32px;
  border: none;
  font: 700 16px "Roboto", sans-serif;
  color: #1b4e7a;
}

.searchBarContext button:hover {
  color: #030f29;
  transform: scale(0.98, 0.98);
  transition: all 1s;
}

@media only screen and (max-width: 1199px) {
  .searchBarContainer {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .searchBarContext {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }

  .searchBarElement {
    background-color: #ffffff66;
    padding: 16px 0;
    border-radius: 32px;
    justify-content: center;
    margin-bottom: 15px;
  }

  .searchBarElement p,
  .searchBarElement input,
  .searchBarElement input::placeholder {
    font-size: 20px;
  }

  .searchBarContext button {
    padding: 16px 45px;
    font-size: 20px;
    color: white;
    background-color: #1b4e7a;
  }

  .searchBarContext button:hover {
    background-color: #030f29;
    color: white;
  }

  .searchBarElementIn,
  .searchBarElementOut {
    display: none !important;
  }

  .mobileSearchBarCheck {
    display: flex !important;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .searchBarContainer {
    margin-top: 20px;
  }
}
