.titleMessage {
  font: 700 72px "Roboto", sans-serif;
  color: #fff;
  line-height: 82.79px;
  margin-bottom: 0;
}
.titleContainer {
  margin-top: 40px;
  width: 55%;
}
@media only screen and (max-width: 1199px) {
  .titleContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .titleMessage {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .titleContainer {
    margin-top: 24px;
    width: 80%;
  }
  .titleMessage {
    font-size: 32px;
    line-height: 36px;
  }
}
