.vacationContext {
  margin-top: 56px;
}
.vacationContext p {
  font: 700 32px "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
.vacationContainer {
  max-width: 1366px;
}
.vacationCard {
  padding: 0;
}
.vacationCard img {
  padding-left: 0;
}

.vocationContextImages {
  border-radius: 16px;
  padding-right: 0;
  gap: 24px;
  cursor: pointer;
}

.halfColumnCommunity {
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  .vacationContext p {
    font-size: 24px;
  }
}
